<div>
    <div class="block-header">
        <h2> Home Page - {{homeVm.person.firstName + " " + homeVm.person.lastName}}</h2>
    </div>
    <div class="form-wizard-basic fw-container">
        <ul class="tab-nav  tn-justified">
            <li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="true">Calendar</a></li>
            <li class=""><a href="#tab2" data-toggle="tab" aria-expanded="false">Programs</a></li>
        </ul>
        <div class="tab-content">
            <!-- INFO TAB -->
            <div class="tab-pane fade active in" id="tab1">
                <div class="block-header block-header-calendar">
                    <div class="card">
                        <div class="span8 calendar" calendar="calendar" ui-calendar="homeVm.uiConfig.calendar" ng-model="homeVm.eventSources"></div>
                    </div>
                    <div class="modal fade" id="modal-new-event" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bgm-lightgreen" >
                                    <h4 class="modal-title" style="color:white">Add Event</h4>
                                </div>
                                <div class="modal-body" style="top: 25px; position: relative">
                                    <form class="form-event" role="form" name="homeVm.appointForm" novalidate>
                                        <div class="form-group" style="position: relative" ng-class="homeVm.item.Name == null && homeVm.appointForm.$invalid && homeVm.isPressed ? 'has-error' : 'null'">
                                            <div class="fg-line">
                                                <input type="text" class="input-sm form-control" id="new-event-title" style="font-size: 17px;" data-ng-model="homeVm.item.Name" placeholder="Event Name" required>
                                            </div>
                                            <div ng-show="homeVm.item.Name == null && homeVm.appointForm.$invalid && homeVm.isPressed">
                                                <p class="help-block"> Please Enter An Event Name</p>
                                            </div>
                                        </div>
                                        <div class="container" id="selectHere" style="position: relative;" ng-class="homeVm.item.appointmentTypeId == null && homeVm.appointForm.$invalid && homeVm.isPressed ? 'has-error' : 'null'">
                                            <div class="select form-control col-md-12" style="position: relative; height:100%;border-color: transparent">
                                                <select class="form-control" name="typeSelect" id="typeSelect"
                                                        ng-options="option.id as option.name for option in homeVm.appointmentTypes"
                                                        ng-model="homeVm.item.appointmentTypeId" required>
                                                    <option value="" disabled selected style="display: none;">Select Event Type</option>
                                                </select>
                                                <div ng-show="homeVm.item.appointmentTypeId == null && homeVm.appointForm.$invalid && homeVm.isPressed">
                                                    <p class="help-block"> Please Enter An Event Name</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="top: 14px; position: relative">
                                            <div class="container" style="position: relative;">
                                                <div class="form-group" ng-class="homeVm.item.criteriaStartDate == null && homeVm.appointForm.$invalid && homeVm.isPressed ? 'has-error' : 'null'">
                                                    <div class="dropdown ">
                                                        <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                            <div class="input-group date">
                                                                <input data-date-time-input="dddd, MMMM Do, YYYY h:mm A" type="text" class="form-control" placeholder="Start Date" data-ng-model="homeVm.item.criteriaStartDate" required />
                                                                <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker data-ng-model="homeVm.item.criteriaStartDate"
                                                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown1',
                                                                                          renderOn:'end-date-changed' }"
                                                                            data-before-render="homeVm.startDateBeforeRender($dates)"
                                                                            data-on-set-time="homeVm.startDateOnSetTime()"></datetimepicker>
                                                        </ul>
                                                    </div>
                                                    <div ng-show="homeVm.item.criteriaStartDate == null && homeVm.appointForm.$invalid && homeVm.isPressed">
                                                        <p class="help-block">Please Choose A Start Date</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="form-group" ng-class="homeVm.item.criteriaEndDate == null && homeVm.appointForm.$invalid && homeVm.isPressed ? 'has-error' : 'null'">
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                            <div class="input-group">
                                                                <input data-date-time-input=" dddd, MMMM Do, YYYY h:mm A" type="text" class="form-control" placeholder="End Date" data-ng-model="homeVm.item.criteriaEndDate" required>
                                                                <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker data-ng-model="homeVm.item.criteriaEndDate"
                                                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown2',
                                                                                           renderOn:'start-date-changed'}"
                                                                            data-before-render="homeVm.endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"
                                                                            data-on-set-time="homeVm.endDateOnSetTime()"></datetimepicker>
                                                        </ul>
                                                    </div>
                                                    <div ng-show="homeVm.item.criteriaEndDate == null && homeVm.appointForm.$invalid && homeVm.isPressed">
                                                        <p class="help-block">Please Choose An End Date</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <input type="text" class="input-sm form-control" id="description" data-ng-model="homeVm.item.description" style="font-size: 14px;" placeholder="Details [Optional]">
                                            </div>
                                        </div>
                                        <input type="hidden" id="new-event-start" />
                                        <input type="hidden" id="new-event-end" />
                                    </form>
                                </div>
                                <div class="modal-footer" style="position: relative; top: 35px; background-color: #fff">
                                    <button type="submit" class="btn btn-primary" id="btn-add-event" ng-click="homeVm.addEvent()">Add Event</button>
                                    <button type="button" class="btn btn-default" ng-click="homeVm.closer()" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modal-edit-event" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bgm-lightgreen">
                                    <h4 class="modal-title" style="color:white">Edit Event</h4>
                                </div>
                                <div class="modal-body" style="top: 25px; position: relative">
                                    <form class="form-event" role="form" name="homeVm.appointForm" novalidate>
                                        <div class="form-group" style="position: relative" ng-class="homeVm.item.Name == null && homeVm.appointForm.$invalid && homeVm.isPressed ? 'has-error' : 'null'">
                                            <div class="fg-line">
                                                <input type="text" class="input-sm form-control" id="new-event-title" style="font-size: 17px;" data-ng-model="homeVm.item.Name" placeholder="Event Name" required>
                                            </div>
                                            <div ng-show="homeVm.item.Name == null && homeVm.appointForm.$invalid && homeVm.isPressed">
                                                <p class="help-block"> Please Enter An Event Name</p>
                                            </div>
                                        </div>
                                        <div class="container" id="selectHere" style="position: relative;" ng-class="homeVm.item.appointmentTypeId == null && homeVm.appointForm.$invalid && homeVm.isPressed ? 'has-error' : 'null'">
                                            <div class="select form-control col-md-12" style="position: relative; height:100%;border-color: transparent">
                                                <select class="form-control" name="typeSelect" id="typeSelect"
                                                        ng-options="option.id as option.name for option in homeVm.appointmentTypes"
                                                        ng-model="homeVm.item.appointmentTypeId" required>
                                                    <option value="" disabled selected style="display: none;">Select Event Type</option>
                                                </select>
                                                <div ng-show="homeVm.item.appointmentTypeId == null && homeVm.appointForm.$invalid && homeVm.isPressed">
                                                    <p class="help-block"> Please Enter An Event Name</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="top: 14px; position: relative">
                                            <div class="container" style="position: relative;">
                                                <div class="form-group" ng-class="homeVm.item.criteriaStartDate == null && homeVm.appointForm.$invalid && homeVm.isPressed ? 'has-error' : 'null'">
                                                    <div class="dropdown ">
                                                        <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                            <div class="input-group date">
                                                                <input data-date-time-input="dddd, MMMM Do, YYYY h:mm A" type="text" class="form-control" placeholder="Start Date" data-ng-model="homeVm.item.criteriaStartDate" required />
                                                                <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker data-ng-model="homeVm.item.criteriaStartDate"
                                                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown1',
                                                                                          renderOn:'end-date-changed' }"
                                                                            data-before-render="homeVm.startDateBeforeRender($dates)"
                                                                            data-on-set-time="homeVm.startDateOnSetTime()"></datetimepicker>
                                                        </ul>
                                                    </div>
                                                    <div ng-show="homeVm.item.criteriaStartDate == null && homeVm.appointForm.$invalid && homeVm.isPressed">
                                                        <p class="help-block">Please Choose A Start Date</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="form-group" ng-class="homeVm.item.criteriaEndDate == null && homeVm.appointForm.$invalid && homeVm.isPressed ? 'has-error' : 'null'">
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                            <div class="input-group">
                                                                <input data-date-time-input=" dddd, MMMM Do, YYYY h:mm A" type="text" class="form-control" placeholder="End Date" data-ng-model="homeVm.item.criteriaEndDate" required>
                                                                <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker data-ng-model="homeVm.item.criteriaEndDate"
                                                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown2',
                                                                                           renderOn:'start-date-changed'}"
                                                                            data-before-render="homeVm.endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"
                                                                            data-on-set-time="homeVm.endDateOnSetTime()"></datetimepicker>
                                                        </ul>
                                                    </div>
                                                    <div ng-show="homeVm.item.criteriaEndDate == null && homeVm.appointForm.$invalid && homeVm.isPressed">
                                                        <p class="help-block">Please Choose An End Date</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <input type="text" class="input-sm form-control" id="description" data-ng-model="homeVm.item.description" style="font-size: 14px;" placeholder="Details [Optional]">
                                            </div>
                                        </div>
                                        <input type="hidden" id="new-event-start" />
                                        <input type="hidden" id="new-event-end" />
                                    </form>
                                </div>
                                <div class="modal-footer" style="position: relative; top: 35px; background-color: #fff">
                                    <button type="submit" class="btn btn-primary waves-effect" id="btn-add-event" ng-click="homeVm.updateEvent()">Save</button>
                                    <button type="button" class="btn btn-danger waves-effect" id="btn-add-event" ng-click="homeVm.deleteEvent()">Delete</button>
                                    <button type="button" class="btn btn-default waves-effect" ng-click="homeVm.closer()" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2">
                <custom-program></custom-program>
            </div>
        </div>
    </div>
</div>
